{% extends "layout.html" %}

{% block title %}
    Check Password
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <p id="p3">Check any password</p>
            <p id="p4"></p>
            <form action="/check_password" method="post">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Check Password">
            </form>
    </div>
{% endblock %}