{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label><br>
    {{ form.username() }}
    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <label for="password">Password:</label><br>
    {{ form.password() }}
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <label for="confirmation">Confirm Password:</label><br>
    {{ form.confirmation() }}
    {% for error in form.confirmation.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <input type="submit" value="Register">
</form>
{% endblock %}
