<!-- register.html -->
{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label><br>
    {{ form.username() }}
    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <label for="password">Password:</label><br>
    {{ form.password() }}
    <button type="button" onclick="togglePasswordVisibility('password')">Show/Hide</button>
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <label for="confirmation">Confirm Password:</label><br>
    {{ form.confirmation() }}
    <button type="button" onclick="togglePasswordVisibility('confirmation')">Show/Hide</button>
    {% for error in form.confirmation.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <br>
    <input type="submit" value="Register">
</form>
<!-- Strength meter html -->
<div id="passwordStrengthMeter" class="password-strength-meter">
    <progress max="100" value="0" id="passwordStrengthProgress"></progress>
    <p id="password-strength-text">Password Strength:</p>
    <p id="passwordStrengthText"></p>
</div>

{% endblock %}